​#home,
#skills,
#about,
#project {
    padding-top: 40px;
}


/* navbar özellikleri */

.topnavbar {
    overflow: hidden;
    margin-top: 30px;
    background-color: #779C95;
    width: 100%;
    position: fixed;
}

.topnavbar a {
    color: #E9E5E1;
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    nav-down: auto;
}

.topnavbar a:hover {
    background-color: #ddd;
    color: black;
}


/* ilk resim */

.picture1 {
    width: 100%;
    margin-top: 30px;
}

.portfolio {
    font-family: 'Sacramento', cursive;
    text-align: center;
    font-size: 200px;
    position: absolute;
    top: 61%;
    left: 56%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    text-align: center;
    color: #779C95
}


/* ikinci bolum */

.skills {
    font-family: 'Saira Stencil One', cursive;
    text-align: center;
    font-size: 175px;
    color: #A2A23C;
    text-shadow: 5px 2px #779C95;
    margin: 30px;
}


/* TABLO KISMI */

#table {
    margin-top: 40px;
    color: #76401D;
    width: 84%;
    height: 15%;
    margin-left: 150px;
    margin-right: 150px;
}

th {
    text-align: center;
    font-size: 40px;
    padding: 2rem;
    clip-path: polygon( 0% 20px, /* top left */
    0px 0%, /* top left */
    calc(100% - 20px) 0%, /* top right */
    100% 0px, /* top right */
    100% calc(100% - 25px), /* bottom right */
    calc(100% - 20px) 100%, /* bottom right */
    20px 100%, /* bottom left */
    0 calc(100% - 25px)/* bottom left */
    );
}

tr {
    text-align: center;
}

td {
    padding: 20px;
    font-size: 30px;
    border-left: transparent;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
}

#x1 {
    background: linear-gradient(#779C95, #A2A23C);
}

#x2 {
    background: linear-gradient(rgb(245, 215, 187), rgb(206, 170, 136));
}

#x3 {
    background: linear-gradient(rgb(243, 216, 190), rgb(240, 176, 116));
}

.fon {
    background-image: url("macbook-336704_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#info {
    color: #26130F;
    font-family: 'Caveat', cursive;
    text-align: left;
    font-size: 33px;
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 150px;
    background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(119, 156, 149, 0.959)), to(rgba(119, 156, 149, 0.336)));
    background-size: contain;
}

#aboutme {
    text-align: center;
    padding-top: 30px;
    font-size: 100px;
}


/* my projects kismi */

.myproject {
    margin: 30px;
    text-align: center;
    font-size: 200px;
    font-family: 'Alex Brush', cursive;
    color: #E0904B;
}

#myprojects {
    margin-left: 150px;
    margin-right: 150px;
    font-family: 'Orbitron', sans-serif;
    color: rgb(240, 176, 116);
}

​ .flex-container {
    flex: center;
    text-align: center;
}

.flex-container img {
    width: 100%;
}

.flex-container div {
    border: 10px solid rgb(240, 176, 116);
    border-radius: 40px 40px;
    float: left;
    margin-right: 97px;
}

h2 {
    text-align: center;
}

​ .flex-container img {
    margin-top: 0;
    width: 100%;
}

​ #github {
    border-color: rgb(162, 162, 60);
    margin-right: 100px;
}

​ #github span {
    background: rgb(162, 162, 60);
}

​ #html {
    border-color: rgb(129, 163, 159);
    margin-right: 100px;
}

​ #html span {
    background: rgb(129, 163, 159);
}

​ #css {
    border-color: rgb(240, 176, 116);
    margin-left: 25px;
}

#css span {
    background: rgb(240, 176, 116);
}

​ .text {
    text-align: left;
    margin: 0;
    font-size: 2vw;
}

.learn {
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 20%;
    margin-top: 50px;
    padding-top: 20px;
    border-radius: 0 0 25px 25px;
}